<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CapstoneSejahtera"
        tools:targetApi="31">
        <activity
            android:name=".PopUpProgressTabungan"
            android:exported="false" />
        <activity
            android:name=".PopUpRubahCatatan"
            android:exported="false" />
        <activity
            android:name=".HalamanLiatTabungan"
            android:exported="false" />
        <activity
            android:name=".HalamanLiatCatatan"
            android:exported="false" />
        <activity
            android:name=".HalamanBukaBerita"
            android:exported="false" />
        <activity
            android:name=".namasaham.IncoSaham"
            android:exported="false" />
        <activity
            android:name=".namasaham.IcbpSaham"
            android:exported="false" />
        <activity
            android:name=".namasaham.HrumSaham"
            android:exported="false" />
        <activity
            android:name=".namasaham.GgrmSaham"
            android:exported="false" />
        <activity
            android:name=".namasaham.ExclSaham"
            android:exported="false" />
        <activity
            android:name=".namasaham.EssaSaham"
            android:exported="false" />
        <activity
            android:name=".namasaham.EmtkSaham"
            android:exported="false" />
        <activity
            android:name=".namasaham.CpinSaham"
            android:exported="false" />
        <activity
            android:name=".namasaham.BukaSaham"
            android:exported="false" />
        <activity
            android:name=".namasaham.BrptSaham"
            android:exported="false" />
        <activity
            android:name=".namasaham.BrisSaham"
            android:exported="false" />
        <activity
            android:name=".namasaham.BmriSaham"
            android:exported="false" />
        <activity
            android:name=".namasaham.BbtnSaham"
            android:exported="false" />
        <activity
            android:name=".namasaham.BbniSaham"
            android:exported="false" />
        <activity
            android:name=".namasaham.ArtoSaham"
            android:exported="false" />
        <activity
            android:name=".namasaham.AmrtSaham"
            android:exported="false" />
        <activity
            android:name=".namasaham.AmmnSaham"
            android:exported="false" />
        <activity
            android:name=".namasaham.AkraSaham"
            android:exported="false" />
        <activity
            android:name=".namasaham.AdroSaham"
            android:exported="false" />
        <activity
            android:name=".SahamActivity"
            android:exported="false" />
        <activity
            android:name=".PopUpCatatanTabungan"
            android:exported="false" />
        <activity
            android:name=".DataProfile"
            android:exported="false" />
        <activity
            android:name=".ResikoSatu"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".Registrasi"
            android:exported="true" />
        <activity
            android:name=".ResikoDua"
            android:exported="true" />
        <activity
            android:name=".ResikoTiga"
            android:exported="true" />
        <activity
            android:name=".ResikoEmpat"
            android:exported="true" />
        <activity
            android:name=".ResikoLima"
            android:exported="true" />
        <activity
            android:name=".ResikoEnam"
            android:exported="true" />
        <activity
            android:name=".ResikoTujuh"
            android:exported="true" />
        <activity
            android:name=".ResikoDelapan"
            android:exported="true" />
        <activity
            android:name=".ResikoSembilan"
            android:exported="true" />
        <activity
            android:name=".namasaham.AcesSaham"
            android:exported="true" />
        <activity
            android:name=".namasaham.IndfSaham"
            android:exported="true" />
        <activity
            android:name=".namasaham.InkpSaham"
            android:exported="true" />
        <activity
            android:name=".namasaham.IntpSaham"
            android:exported="true" />
        <activity
            android:name=".namasaham.IsatSaham"
            android:exported="true" />
        <activity
            android:name=".namasaham.AntmSaham"
            android:exported="true" />
        <activity
            android:name=".namasaham.AsiiSaham"
            android:exported="true" />
        <activity
            android:name=".namasaham.BbcaSaham"
            android:exported="true" />
        <activity
            android:name=".namasaham.BbriSaham"
            android:exported="true" />
        <activity
            android:name=".namasaham.GotoSaham"
            android:exported="true" />
        <activity
            android:name=".namasaham.IndySaham"
            android:exported="true" />
        <activity
            android:name=".EmasActivity"
            android:exported="true" />
    </application>

</manifest>